APP_NAME=polymarket-data-pipeline
APP_ENV=local
APP_TIMEZONE=Asia/Singapore

POLYMARKET_API=https://gamma-api.polymarket.com
POLYMARKET_TIMEOUT_SECONDS=10

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_MARKETS=polymarket.market_metadata
KAFKA_TOPIC_PRICES=polymarket.price_snapshot

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
